:root{
    --primary-color: rgb(13, 110, 139, 0.75);
    --secondary-color: rgb(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.intro{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/umsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}
.intro h1{
    color: #fff;
    margin: auto;
}
.container{
    width: 85%;
    margin: auto;
}
.container h1{
    text-align: center;
    margin: 20px;
}
.row{
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: scale(0.1);
    transition: all 1s ease-in-out;
}
.active{
    opacity: 1;
    transform: scale(1);
}
.col{
    flex-basis: 40%;
}
p{
    font-size: 18px;
    line-height: 30px;
}

@media screen and (max-width: 768px) {
    .row{
        flex-direction: column;
        align-items: center;
    }
    .col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    h1{
        text-align: center;
        margin-top: 20px;
    }
    
}
@media screen and (max-width: 480px) {
    .row{
        padding: 20px;
    }
    .col{
        flex-basis: 100%;
    }
    p{
        font-size: 16px;
        line-height: 25px;
    }
    
}