* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    transition: background-color 0.9s;
    position: relative;
    cursor: pointer;
    margin: 200px 200px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
.circle-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-inner-inner {
    width: 57%;
    height: 57%;
    line-height: 20px;
    padding: 10px 10px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}
.circle-inner-inner:hover {
    transform: scale(1.3);
    background-color: yellowgreen;
    transition: 1s;
    transform: rotateY(360deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) ;

    
}
.circle:hover {
    background-color: red;
}