/* POP-UP STYLES */

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    position: relative;
}

body.pop-up {
    background: #222;
  }

  h1{
    font-size: 48px;
    margin: 10px 0;
  }

p{
    margin-bottom: 40px;
}
#pop-up{
    position: relative;
    top: 200px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
#pop-up .container{
    background: #f0e4d4;
    padding: 30px;
    position: absolute;
    top: 90px;
    width: 100%;
    box-sizing: border-box;
}
#pop-up input{
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #333;
    font-size: 18px;
}
button{
    padding: 10px;
    border: 0;
    color: #fff;
    background: #333;
    margin-left: -5px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #333;
    font-size: 18px;
    pointer-events: auto;
    z-index: 1;
}
.cross{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 22px;
    height: 22px;
    background: #555;
    color: #ddd;
    border-radius: 11px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

/* POP-UP ANIMATION STYLES */
#pop-up{
    top: -400px;
    /* transform-origin: 10px 10px; */
    animation: drop 0.5s ease forwards,
           swing 2s 3s ease forwards;
}

@keyframes drop{
    0%{
        opacity: 0;
    }
    70%{
        transform: translateY(700px);
    }
    100%{
        transform: translateY(650px);
        opacity: 1;
    }
}
@keyframes swing{
    0%{
        transform: translateY(650px) rotateZ(0deg);
    }
    40%{
        transform: translateY(650px) rotateZ(90deg);
    }
    70%{
        transform: translateY(650px) rotateZ(70deg);
    }
    100%{
        transform: translateY(650px) rotateZ(75deg);
    }
}

/* BASKET BASE STYLES */
header{
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    background: #fff;
}
header:after{
    content: '';
    display: block;
    clear: both;
}

.basket-icon img{
    position: absolute; /* Position the basket icon relative to the screen */
    top: -10px; /* Distance from the top of the screen */
    right: -900px; /* Distance from the right of the screen */
}

h1{
    font-size: 24px;
    color: #333;
    margin: 0;
    padding: 10px 0;
    position: relative;
    left: 70px;
}
.basket ul{
    padding: 0;
    margin-top: 40px;
}
.basket li{
    display: inline-block;
    list-style-type: none;
    width: 30%;
    margin: 30px 1.5%;
    text-align: center;
}
.basket button{
    border-radius: 10px;
    cursor: pointer;
}
.basket button:hover{
    background: #333;
    color: #fff;
}
.basket header div{
    float: left;
    position: relative;
    /* z-index: 1; */
}
.basket header h1{
    float: left;
}

/* BASKET ANIMATION STYLES */
.zoom{
    position: absolute;
    top: 40px;
    right: 50%;
    width: 40px;
    opacity: 0;
    animation: zoom 1s ease forwards;
}

@keyframes zoom{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}