html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}
.grass, .sky, .road{
    position: relative;
}
.sky{
    background: skyblue;
    height: 40%;
}
.grass{
    background: seagreen;
    height: 30%;
}
.road{
    background: dimgrey;
    height: 30%;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;
    width: 100%;
}
.lines{
    box-sizing: border-box;
    border: 5px dashed white;
    width: 100%;
    height: 0px;
    position: absolute;
    top: 55px;
    left: 0;
}

.mario{
    position: absolute;
    top: 0px;
    left: 0px;
    animation: drive 3s both infinite linear,
    jump 0.3s 1.2s ease;

}
.luigi{
    position: absolute;
    top: 90px;
    left: 0px;
    animation-name: drive;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.cloud{
    position: absolute;
}
.cloud:nth-child(1){
    width: 120px;
    top: 90px;
    opacity: 0.5;
    animation: wind 80s linear infinite reverse;
}
.cloud:nth-child(2){
    width: 150px;
    top: 10px;
    animation: wind 50s linear infinite reverse;
}

@keyframes drive{
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(1200px);
    }
}
@keyframes jump{
    0%{
        top: 0px;
    }
    50%{
        top: -100px;
    }
    100%{
        top: 0px;
    }
}
@keyframes wind{
    from{
        left: -300px;
    }
    to{
        left: 100%;
    }
}
