*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 30px;
    font-family: serif;
    background: #ebebeb;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.div{
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.2);
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0df4ed, #10b36f);
    color: white;
    margin: 100px 0;
    border-radius: 7px;
}